{% include "header.html" %}
<h1>Cart</h1>

{% if session["cart"] and session["cart"]|length > 0 %}
  <form action="/updatecartitem" method="post" id="updateCartForm">
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Remove</th>
      </tr>
      {% for code, item in session["cart"].items() %}
        <tr>
          <td>{{ item["name"] }}</td>
          <td>
            <input type="hidden" name="code" value="{{ code }}">
            <input type="number" name="qty" value="{{ item['qty'] }}" min="1">
          </td>
          <td>{{ item["subtotal"] }}</td>
          <td>
            <a href="/removefromcart?code={{ code }}">Remove</a>
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="4">
          <input type="submit" value="Update Cart">
        </td>
      </tr>
    </table>
    <a href="checkout">Checkout</a>
  </form>
  <p>Total: {{ session["cart"].values()|sum(attribute="subtotal") }}</p>
{% else %}
  <div>Your cart is empty</div>
{% endif %}

{% include "footer.html" %}
